           @font-face{
                font-family: arimoregular;src:url(arimo.regular.ttf);
            }
             @font-face{
                font-family: Infinity;src:url(Infinity.ttf);
            }
            @font-face{
                font-family: budalight;src:url(buda.light.ttf);
            }
            @font-face{
                font-family: comfortaalight;src:url(comfortaa.light.ttf);
            }
            @font-face{
                font-family: dosisextralight;src:url(dosis.extralight.ttf);
            }
            @font-face{
                font-family: gentiumbasicregular;src:url(gentium-basic.regular.ttf);
            }
             @font-face{
                font-family: grupporegular;src:url(gruppo.regular.ttf);
            }
              @font-face{
                font-family: hindlight;src:url(hind.light.ttf);
            }
            @font-face{
                font-family: josefinslablight;src:url(josefin-slab.light.ttf);
            }
            @font-face{
                font-family: josefinslabthin;src:url(josefin-slab.thin.ttf);
            }
             @font-face{
                font-family: mulilight;src:url(muli.light.ttf);
            }
             @font-face{
                font-family: muliregular;src:url(muli.regular.ttf);
            }